body {
    /* background-image: url(./assets/background.jpg); */
    background-color:azure;
    color: white;
    box-sizing: border-box;
}
image{
    display: block;
    width: 100%;
}
.container {
    background-color: black;
    max-width: 50%;
    height: 60vh;
    margin: 100px auto;
    border: solid 2px white;
    padding: 15px 20px;
}
.wrapper {
    width: 100%;
    height: 100%;
}
.slider {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    }
.meme-picture {
    order: -2;
    
    border-radius: 10px;
    width: 100%;
    height: 80%;
    margin-bottom: 25px;
}
.picture{
    border: solid 1px white;
    border-radius: 10px;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    display: none;
}
.picture1{
    
    background-image: url(./assets/meme_1.jpg);
}
.picture2{
    background-image: url(./assets/meme_2.jpg);
}
.picture3{
    background-image: url(./assets/meme_3.jpg);
}
.picture4{
    background-image: url(./assets/meme_4.jpg);
}
.meme-text {
    order: -1;
    width: 80%;
    font: 20px Arial, sans-serif;
}
.text{
    transition: all 0.5s ease;
    display: none;
}
.controls {
    order: 1;
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.control-label{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: aqua;
}
.control-label:hover > .control-item {
    background-color: white;
    border-color: white;
}
.control-item{
    border: solid 2px yellow;
    background-color: yellow;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    width: 15px;
    height: 15px;
    box-sizing: border-box;
}
.controls-btn{
    display: block;
    margin: 5px;
}
.filler{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: black;
    display: none;
}
input{
    appearance: none;
    background-color: yellow;
    border: 0.15em solid yellow;
    border-radius: 50%;
    margin: 0;
    font: inherit;
    width: 1.15em;
    height: 1.15em;
    cursor: pointer;
    
}
input:hover{
    background-color: white;
    border-color: white;
}
input:checked{
    background-color: transparent;
}
.control-item input:checked + .filler{
    display: block;
}

#btn1:checked ~ .meme-text .text1{
    display: inline;
}
#btn2:checked ~ .meme-text .text2{
    display: inline;
}
#btn3:checked ~ .meme-text .text3{
    display: inline;
}
#btn4:checked ~ .meme-text .text4{
    display: inline;
}
#btn1:checked ~ .meme-picture .picture1{
    display: block;
}
#btn2:checked ~ .meme-picture .picture2{
    display: block;
}
#btn3:checked ~ .meme-picture .picture3{
    display: block;
}
#btn4:checked ~ .meme-picture .picture4{
    display: block;
}