body {
    background-image: url(./assets/background.jpg);
    color: white;
    box-sizing: border-box;
    font: 25px Arial, sans-serif;
}
image{
    display: block;
    width: 100%;
}
.container {
    background-color: black;
    max-width: 60vw;
    height: 60vh;
    margin: 100px auto;
    border: solid 2px white;
    padding: 15px 20px;
}
@media screen and (min-width: 1441px) {
    .container{
        max-width: 800px;
    }
    
}
.wrapper {
    width: 100%;
    height: 100%;
}
.slider {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    position: relative;
    }
.meme-picture {
    order: -2;
    border-radius: 10px;
    width: 100%;
    height: 80%;
    margin-bottom: 25px;
    position: relative;
    overflow: hidden;
    border: solid 1px white;
}
.picture{
    position: absolute;
    opacity: 0;
    border-radius: 10px;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    transition: all 1s ease-out;
}
.picture1{
    background-image: url(./assets/meme_1.jpg);
}
.picture2{
    background-image: url(./assets/meme_2.jpg);
}
.picture3{
    background-image: url(./assets/meme_3.jpg);
}
.picture4{
    background-image: url(./assets/meme_4.jpg);
}
.meme-text {
    order: -1;
    flex-grow: 1;
    position: relative;
}
.text{
    transition: all 1s ease-out;
    position: absolute;
    opacity: 0;
    font-size: 1.1em;
}
#btn1:checked ~ .meme-text .text1{
    opacity: 1;
}
#btn2:checked ~ .meme-text .text2{
    opacity: 1;
}
#btn3:checked ~ .meme-text .text3{
    opacity: 1;
}
#btn4:checked ~ .meme-text .text4{
    opacity: 1;
}
#btn1:checked ~ .meme-picture .picture1{
    opacity: 1;
}
#btn2:checked ~ .meme-picture .picture2{
    opacity: 1;
}
#btn3:checked ~ .meme-picture .picture3{
    opacity: 1;
}
#btn4:checked ~ .meme-picture .picture4{
    opacity: 1;
}
/* .controls {
    order: 1;
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.control-item{
    border: solid 2px yellow;
    background-color: yellow;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    width: 15px;
    height: 15px;
    box-sizing: border-box;
} */
.controls-btn{
    display: block;
    margin: 5px;
}
.filler{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: black;
    display: none;
}
input{
    appearance: none;
    background-color: yellow;
    border: 0.15em solid yellow;
    border-radius: 50%;
    margin: 0;
    font: inherit;
    width: 0.7em;
    height: 0.7em;
    cursor: pointer;
    
}
input:hover{
    background-color: white;
    border-color: white;
}
input:checked{
    background-color: transparent;
}
.control-item input:checked + .filler{
    display: block;
}
.labels-block{
    display: flex;
    align-self: center;
    justify-self: flex-end;
    position: absolute;
    top: 85%;
}
.control-label{
    width: 28px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.control-label:hover > .control-item {
    background-color: white;
    border-color: white;
}