body {
    background-image: url(./assets/background_1.jpg);
    color: white;
    box-sizing: border-box;
    font: 20px Arial, sans-serif;
}
image{
    display: block;
    width: 100%;
}
.container {
    background-color: black;
    max-width: 55vw;
    height: 60vh;
    margin: 100px auto;
    border: solid 2px white;
    padding: 15px 20px;
}
@media screen and (min-width: 1441px) {
    .container{
        max-width: 800px;
    }
    
}
.wrapper {
    width: 100%;
    height: 100%;
}
.slider {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    position: relative;
    }
.meme-picture {
    order: -2;
    border-radius: 10px;
    width: 100%;
    height: 80%;
    margin-bottom: 25px;
    overflow: hidden;
    border: solid 1px white;
    display: flex;
    justify-content: stretch;
    align-items: center;
}
.picture{
    opacity: 0;
    border-radius: 10px;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    transition: all 1s ease-out;
}
.picture1{
    background-image: url(./assets/meme_1.jpg);
}
.picture2{
    background-image: url(./assets/meme_2.jpg);
}
.picture3{
    background-image: url(./assets/meme_3.jpg);
}
.picture4{
    background-image: url(./assets/meme_4.jpg);
}
#btn1:checked ~ .meme-picture .picture1, #btn2:checked ~ .meme-picture .picture2, #btn3:checked ~ .meme-picture .picture3, #btn4:checked ~ .meme-picture .picture4{
    opacity: 1;
    flex-shrink: 0;
}


.meme-text {
    order: -1;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}
.text{
    opacity: 0;
    font-size: 1.1em;
    transition: all 1s ease-out;
    width: 0;
    height: 25px;
}

#btn1:checked ~ .meme-text .text1, #btn2:checked ~ .meme-text .text2, #btn3:checked ~ .meme-text .text3, #btn4:checked ~ .meme-text .text4 {
    opacity: 1;
    margin-right: auto;
    width: 100%;
}





.controls-btn{
    display: block;
    appearance: none;
    background-color: yellow;
    border: 0.1em solid yellow;
    border-radius: 50%;
    margin: 5px;
    font: inherit;
    width: 0.7em;
    height: 0.7em;
    cursor: pointer;
}
.controls-btn:hover{
    background-color: white;
    border-color: white;
}
.controls-btn:checked{
    background-color: transparent;
}
.labels-block{
    display: flex;
    align-self: center;
    justify-self: flex-end;
    position: absolute;
    top: 85%;
}
.control-label{
    width: 28px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.control-label:hover > .control-item {
    background-color: white;
    border-color: white;
}